<header class="header">
    <nav class="navbar" *ngIf="currentUser">
        <a class="nav-item nav-link" routerLink="/">
            <img class="header__image" src="/assets/img/logo_smartlock.png" alt="smartlock logo">
        </a>
        <h1 class="title">{{title}}</h1>
        <ul class="list-section">
            <div class="header__menu">
                <div class="header__menu--profile">
                    <a>
                        <img tabindex="0" class="header__menu--user--image" src="https://server.smartlock.cat/img/1596907070703.jpg" alt="profile picture">
                    </a>
                    <p class="header__menu--profile-user">Profile</p>
                </div>
                <li class="list">
                    <!-- *ngIf="isAdmin" -->
                    <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
                </li>
                <li class="list">
                    <a class="nav-item nav-link" (click)="logout()">Logout</a>
                </li>
            </div>
        </ul>
    </nav>
</header>